"*":
  "activate-power-mode":
    comboMode:
      streakTimeout: 5
    playAudio:
      audioclip: "../audioclips/typewriter.wav"
    plugins:
      playAudio: true
      screenShake: true
  "atom-clock": {}
  "atom-material-ui":
    colors:
      accentColor: "#af0010"
      genAccent: true
      paintCursor: true
    tabs:
      compactTabs: true
      noTabMinWidth: true
      tintedTabBar: true
    ui:
      panelContrast: true
      panelShadows: true
  "autocomplete-python":
    useKite: false
  core:
    audioBeep: false
    closeDeletedFileTabs: true
    disabledPackages: [
      "vim-mode"
    ]
    openEmptyEditorOnStart: false
    packagesWithKeymapsDisabled: [
      "emmet"
      "platformio-ide-terminal"
      "activate-power-mode"
      "split-diff"
    ]
    telemetryConsent: "no"
    themes: [
      "atom-material-ui"
      "atom-material-syntax"
    ]
  editor:
    fontSize: 11
    showInvisibles: true
  "exception-reporting":
    userId: "4fffcc10-739c-442e-b915-95a3f058d542"
  "linter-flake8":
    executablePath: "/Users/yomura/.pyenv/shims/flake8"
  "markdown-preview":
    useGitHubStyle: true
  "project-manager":
    alwaysOpenInSameWindow: true
  "toggle-packages":
    togglePackages: [
      "vim-mode"
    ]
  "tree-view":
    hideVcsIgnoredFiles: true
  welcome:
    showOnStartup: false
